@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
.main_html {
    height:97.31%;
}
.main_body {
    height:97.31%;
}
.header {
    height:100%; display: flex; align-items: center; text-align: center; flex-direction: column; padding-left: 76px; padding-right: 76px; /* justify-content: center;  */
}
.page-title {
    color:rgb(120, 211, 120); text-shadow: 0 0 2px #000000; font-family: 'Open Sans', sans-serif; font-weight: 900;   text-transform: uppercase; margin-top: 123px; font-size: 28px;
}
.page-description {
    color:rgb(219, 250, 219);  font-family: 'Open Sans', sans-serif;
}
.page-description-list {
    color:rgb(219, 250, 219);  font-family: 'Open Sans', sans-serif; margin-left: 34px; margin-top: -11px;
}
.page-description-list a {
    color:rgb(120, 211, 120); 
}
.main-text-color {
    color:rgb(219, 250, 219);
}
.logo {
    width: 250px;
}
.software-row {
    display: flex;
    flex-direction: row;
}
.software-wrapper {
    padding: 13px;
}
.software-logo {
    width:50px;
    height:50px;
}
.software-title {
    margin-bottom: 5px!important;
    color:rgb(219, 250, 219)!important;
}
.gif-box {
    margin-top:20px; 
}
/* FULL HEIGHT FOR PAGE SLIDER */
.bx-viewport, .slider, iframe, .slider div{
    height: 100%!important;
}
.bx-wrapper {
    height: 100%;
    background-color: transparent!important;
    border: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}
.slider iframe {
    width: 100%!important;
    overflow: hidden;
    border:0!important;
}
.v-center {
    justify-content: center;
}

.index-box {
    text-align:left;
    color:rgb(219, 250, 219)!important;
}
.index-box a {
    text-decoration: none; 
    color:rgb(219, 250, 219)!important;
    transition: 0.175s all;   
}
.index-box a:hover {
    text-shadow: rgba(0, 0, 0) 1px 1px 5px;
}

/* Sub items of the index list */
.index-option ul li {
}

.width-25 {
    width:25%!important;
    display: inline-block;
}
.width-33 {
    width:33%!important;
    display: inline-block;
}
.width-50 {
    width:50%!important;
    display: inline-block;
}
.width-100 {
    width:100%!important;
    display: inline-block;
}
.text-left {
    text-align:left!important;
}
.text-right {
    text-align:right!important;
}
.text-justify {
    text-align:justify!important;
}
.no-padding-x {
    padding-left:0!important;
    padding-right:0!important;
}
.capitalize {
    text-transform: capitalize!important;
}